@font-face {
    font-family: 'Abril Display';
    src: url('AbrilDisplay-Bold.woff2') format('woff2'),
        url('AbrilDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abril Display';
    src: url('AbrilDisplay-BoldItalic.woff2') format('woff2'),
        url('AbrilDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(FontsFree-Net-Proxima-Nova-Sbold.otf);
  }
  
  @font-face {
    font-family: 'ProximaNova-Regular';
    src: url(FontsFree-Net-ProximaNova-Regular.ttf);
  }
  
  @font-face {
    font-family: 'ProximaNova-Bold';
    src: url(FontsFree-Net-Proxima-Nova-Bold.otf);
  }
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('ProximaNova-Bold.eot');
    src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
         url('ProximaNova-Bold.ttf') format('truetype'),
         url('ProximaNova-Bold.woff') format('woff'),
         url('ProximaNova-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
