


@media (min-width: 1200px) {
	.container {max-width: 1170px;}
	
}
@media (min-width: 1400px) {

		.container {max-width: 1277px;}

}
@media (min-width: 1550px) {}
@media (max-width: 1440px) {
	.leftSection{padding: 32px 55px;}
	.input-group-text {
		padding: .375rem 1rem;
	}
	a.navbar-brand {
		padding: 10px 0px;
	}
	h2.title {
		font-size: 20px;
		padding-bottom: 5px;
	}
	.btn {
		padding: 15px 23px;
		font-size: 15px;
	}
	.form-control {	height: calc(1.8em + .75rem + 2px);}
	
	span.input-group-text.checkBx {height: 70px;}
	p.term {width: 100%; padding: 20px 0px;	}
	.nextbtn {padding: 3px 0px;	}
}

@media (max-width: 1366px) {
	.leftSection {
		padding: 16px 42px;
		overflow-y: scroll;
		height: 100vh;

	}
	a.navbar-brand img {width: 75%;	}
	h2.title {font-size: 18px;}
	.input-group-append p {	margin-bottom: 0px;	font-size: 15px;}
	.form-control {
		height: calc(1.8em + .75rem + 2px);
		font-size: 15px;
	}
	.btn {
		padding: 11px 18px;
		font-size: 15px;
	}
}
@media (max-width: 1280px) {}
@media (max-width: 1199px) {}
@media (max-width: 1024px) {}
@media (max-width: 991px) {}
@media (max-width: 860px) {}
@media (max-width: 768px) {}
@media (max-width: 767px) {
	.popUpForm .modal-body {padding: 20px;}
	.leftSection{min-width: 100%;}
}
@media (max-width: 680px) {}
@media (max-width: 575px) {}
@media (max-width: 480px) {}
@media (max-width: 414px) {
	.leftSection {
    padding: 16px 20px;}
}
@media (max-width: 375px) {}