@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'fonts/fonts.css';
body {
  font-family: 'ProximaNova-Semibold',sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow-x: hidden;
  color: #000;
  background-color: #f0f1f3;
  position: relative;
  letter-spacing: 0.50px;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

p {
  font-size: 13px;
  color: #2C2D2D;
  line-height: 1.8;
  margin: 0 0 15px;
  font-weight: 400;
}

a {
  color: #1e0f24;
  text-decoration: none !important;
  transition: ease-in-out 0.3s;
  display: inline-block;
}

a:hover,
a:active,
a:focus {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
  margin: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
  font-weight: 700;
  color: #2C2D2D;
}

h6 {
  font-size: 15px;
  font-weight: 700;
  color: #2C2D2D;
}

ul {
  margin: 0;
}

input,
select,
textarea,
button,
input:focus,
button:focus {
  outline: none;
}

button {
  transition: ease-in-out 0.3s;
}

img {
  max-width: 100%;
}

header,
section,
footer {
  width: 100%;
}


.pb_20 {
  padding-bottom: 20px;
}


.pt_30 {
  padding-top: 30px;
}

.pt_35 {
  padding-top: 35px;
}

.pt_50 {
  padding-top: 50px;
}

.ptb_35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.ptb_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb_100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ptb_130 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.mb_35 {
  margin-bottom: 35px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mainRightSection {
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
}
.bgImg img {
  height: 100vh;
}


a.navbar-brand {
  padding: 40px 0px;
}
h2.title {
  font-size: 20px;
    padding-bottom: 5px;
    font-family: 'ProximaNova-Bold',sans-serif;
    color: #6D6D6D;
}
span.input-group-text {
  background: #fff;
  color: #B7BCC0;
}
.input-group-text select {
  border: none;
}
.input-group.mb-3.checkbx {
  border: 1px solid #ced4da;
}
.input-group-text input[type=checkbox] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.checkBx p {
  color: #B7BCC0;
}
::-webkit-input-placeholder { /* Edge */
  color:  #B7BCC0 !important;
}

.input-group-append p {
  margin-bottom: 0px;
  font-size: 19px;
}
.nextbtn p {
  color: #83ADFF;
}
span.input-group-text.checkBx {
  height: 105px;
  width: 100%;
}
.input-group-append.fl {
  width: 100%;
  justify-content: space-around;
}

.leftSection {
  padding: 32px 121px;
  margin-right: 0px !important; display: flex; align-items: center; flex-wrap: wrap;
  height: 100vh;
}
.nextbtn {
  width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.twitter {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.bgImg {
  padding: 0px; background: url(../images/bgImg.jpg) center no-repeat; background-size: cover;
}

.term span {
  color: #83ADFF; cursor: pointer;
}
p.term {
  width: 70%;
    padding: 20px 0px;
}
.twitter .btn {
  width: 100%;
}
.input-group-text { padding: .375rem 1.5rem;}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.8em + .75rem + 2px);
  font-size: 19px;
}
.twitter button i.fab.fa-twitter {
  float: left;
  font-size: 25px;
  color: #1370AA;
}

.btn{
  background: #2196F3;
    color: #fff;
    padding: 20px 35px;
    border: 1px;
    box-shadow: 1px 9px 20px 1px #1da1f247;
    border-radius: 5px !important;
    font-size: 17px;
    font-family: 'ProximaNova-Semibold',sans-serif;
    transition: 0.5s;
}
button.btn:hover {
  background-color: #040e4e;
  color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DA1F2; 
  border-radius: 10px;
}
.nextbtn a {
  color: #B7BCC0;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}
.signUp {
    padding: 15px;
    text-align: center;
    width: 100%;
    color: #83ADFF;
}
.signUp a {
  color: #83ADFF;
}
.modal-content {
    border: none;
    border-radius: 0;
}
.modal-body {
  text-align: center;
  padding: 30px 25px 40px;
}
.modal-body h2 {
  text-align: center;
  font-size: 20px;
}
.sucessIcon i.far.fa-check-circle {
  font-size: 67px;
  color: #2CC200;
}
.sucessIcon p {
  padding: 20px 65px;
}





/*============================================*/
.showPW{border: none; background-color: transparent; position: absolute; right: 0px; top: 16px; padding: 10px; color: #b7bcc0;}
.showPW:hover{color: #333;}

.robotCheck{
      background: #fff;
    color: #B7BCC0;
        border: 1px solid #ced4da;
    border-radius: .25rem;    padding: .375rem 1rem; width: 100%; display: flex; align-items: center; height: 70px;
}

.customCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px; line-height: 25px;
  cursor: pointer;
  font-size: 15px;    color: #B7BCC0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.customCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.customCheck .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ced4da
}

/* On mouse-over, add a grey background color */
.customCheck:hover input ~ .checkmark {
  background-color: #f2f2f3;
}

/* When the checkbox is checked, add a blue background */
.customCheck input:checked ~ .checkmark {
  background-color: #00cf09; border-color: #00cf09;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customCheck .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customCheck .checkmark:after {
      left: 9px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bl_0{border-left: 0 !important;}

.btn_Blank{padding: 12px 15px;}
.btn_Blank:hover{color: #2196F3;}

.forgotCol {

}

.forgotCol .tp{
  margin-bottom: 30px; font-size: 15px;
}


.mb-30{margin-bottom: 30px;}

.termsPoliciesModal .modal-header{border: none; padding-bottom: 0px; padding-top: 25px;}
.termsPoliciesModal .modal-title{width: 100%; text-align: center;}

.termsPoliciesModal .modal-body{padding-left: 60px;}