/* You can add global styles to this file, and also import other style files */

/* font embeded */
/* @font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(./fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
  }
  
  @font-face {
    font-family: 'ProximaNova-Regular';
    src: url(./fonts/FontsFree-Net-ProximaNova-Regular.ttf);
  }
  
  @font-face {
    font-family: 'ProximaNova-Bold';
    src: url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
  } */
  @import 'fonts/fonts.css';
  /* color themes*/
  $brand-color: #010947;
  $white: #fff;
  $border-color: #ccd4ff;
  $aside-border-color: #e9ecfa;
  
  $profile-circle-width: 0.08em;
  $profile-circle-width-hover: 0.04em;
  // colors default
  $profile-primary-color: #f8f8f8;
  $profile-secondary-color: #3c49f1;
  $profile-bg-color: #f5f5f5;
  
  // CIRCLE
  
  input,
  textarea,
  select {
    box-shadow: none;
    font-size: 14px;
    color: #000;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  div,
  span,
  input,
  textarea,
  a {
    font-family: 'ProximaNova-Regular';
    text-decoration: none !important;
  }
  
  $select-border-color: #ccc;
  $select-focus-color: green;
  
  button,
  input,
  select {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #e9ecfa;
  
    &.custom-select {
      /* border: 1px solid #f8f8f8;
          border-radius: 5px;
          height: 43px;
          font-size: 12px;
          color: #a1a5c5; */
  
      cursor: pointer;
      /* styling */
      background-color: white;
      border: 1px solid #f8f8f8;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      font-size: 12px;
      height: 40px;
      color: #a1a5c5;
  
      /* reset */
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
  
      background-image: linear-gradient(45deg, transparent 50%, $select-border-color 50%),
        linear-gradient(135deg, $select-border-color 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
  
      /* Very imp: hide arrow in IE */
      &::-ms-expand {
        display: none;
      }
  
      &:-moz-focusring {
        color: transparent;
        text-shadow: none;
      }
  
      &:focus {
        background-image: linear-gradient(45deg, $select-border-color 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, $select-border-color 50%);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
  
        outline: 0;
      }
  
      &.datepicker {
        background: no-repeat;
        width: fit-content;
        padding: 10px;
        /* This is to remove the arrow of select element in IE */
        &::-ms-expand {
          display: none;
        }
        & {
          -webkit-appearance: none;
          appearance: none;
        }
        @-moz-document url-prefix() {
          .ui-select {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
          }
          .ui-select select {
            width: 110%;
            background-position: right 30px center !important;
            border: none !important;
          }
        }
      }
    }
  
    &.custom-select-type1 {
      /* border: 1px solid #f8f8f8;
          border-radius: 5px;
          height: 43px;
          font-size: 12px;
          color: #a1a5c5; */
  
      cursor: pointer;
      /* styling */
      background-color: white;
      border: 1px solid #f8f8f8;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      font-size: 12px;
      height: 40px;
      color: #a1a5c5;
  
      background: url("data:image/svg+xml;charset=utf8,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='IconsRepoEditor' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 60.364 60.364' style='enable-background:new 0 0 60.364 60.364;' xml:space='preserve' width='100px' height='100px' fill='%23c0c0c0' stroke='%23c0c0c0' stroke-width='0'%3E%3Cg id='IconsRepo_bgCarrier'/%3E%3Cpath d='M54.454,23.18l-18.609-0.002L35.844,5.91C35.845,2.646,33.198,0,29.934,0c-3.263,0-5.909,2.646-5.909,5.91v17.269 L5.91,23.178C2.646,23.179,0,25.825,0,29.088c0.002,3.264,2.646,5.909,5.91,5.909h18.115v19.457c0,3.267,2.646,5.91,5.91,5.91 c3.264,0,5.909-2.646,5.91-5.908V34.997h18.611c3.262,0,5.908-2.645,5.908-5.907C60.367,25.824,57.718,23.178,54.454,23.18z'/%3E%3C/svg%3E")
        no-repeat right 0.75rem center/8px 10px !important;
  
      /* reset */
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
  
      background-image: linear-gradient(45deg, transparent 50%, $select-border-color 50%),
        linear-gradient(135deg, $select-border-color 50%, transparent 50%);
      background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
  
      /* Very imp: hide arrow in IE */
      &::-ms-expand {
        display: none;
      }
  
      &:-moz-focusring {
        color: transparent;
        text-shadow: none;
      }
  
      &:focus {
        background-image: linear-gradient(45deg, $select-border-color 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, $select-border-color 50%);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
  
        outline: 0;
      }
  
      &.datepicker {
        background: no-repeat;
        width: fit-content;
        padding: 10px;
        /* This is to remove the arrow of select element in IE */
        &::-ms-expand {
          display: none;
        }
        & {
          -webkit-appearance: none;
          appearance: none;
        }
        @-moz-document url-prefix() {
          .ui-select {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
          }
          .ui-select select {
            width: 110%;
            background-position: right 30px center !important;
            border: none !important;
          }
        }
      }
    }
  }
  
  ::placeholder {
    color: #a1a5c5;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a1a5c5;
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #a1a5c5;
  }
  
  body {
    background-color: #f8f8f8;
  }
  
  .left-column {
    max-width: 230px;
  }
  
  .center-column {
    max-width: 783px;
  
    span {
      font-size: 11px;
      &.m-1 {
        font-size: 11px;
        color: #42434b;
  
        & + span {
          font-size: 11px;
          color: #42434b;
        }
      }
    }
  }
  
  .right-column {
    max-width: 238.6px;
  }
  
  /*button style*/
  .theme-btn {
    border-radius: 3px;
    background-color: #000a4b;
    padding: 4px 20px;
    color: #fff !important;
    font-size: 12px;
    border: 0;
  
    img {
      margin-right: 10px;
      margin-left: -10px;
    }
  
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }
  
    &:active,
    &:hover {
      background-color: #000213 !important;
      border-color: #000213;
    }
  
    &.theme-style-1 {
      background-color: #3c49f1;
      font-size: 16px;
      font-family: 'ProximaNova-Regular';
      height: 36.8px;
  
      &:active,
      &:hover {
        background-color: #2d38d1 !important;
        border-color: #2d38d1;
      }
    }
  }
  
  .yes-btn {
    width: 52px;
    height: 31px;
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    font-weight: normal;
    border-radius: 3px;
    background-color: #010947;
    color: #fff;
  
    border-color: #010947;
  
    &:hover,
    &:active {
      background-color: #010627;
      border-color: #010627;
  
      color: #fff;
    }
  }
  .cancel-btn {
    width: 72px;
    height: 31px;
    border-radius: 3px;
    border: solid 1px #e9ecfa;
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    font-weight: normal;
    background: white;
    color: #003787;
  
    &:hover {
      color: #fff;
    }
  }
  
  /*notification style*/
  .notifications-warning {
    position: absolute;
    width: 248px;
    height: 43px;
    background: #f2d200;
    padding: 8px;
    left: calc(50% - 124px);
  
    img,
    span {
      padding-right: 25px;
      font-size: 12px;
      font-family: 'ProximaNova-Semibold';
      color: #fff;
    }
    img:last-child {
      padding: 0;
    }
  }
  
  .empty-container-with-border {
    border: solid 1px $aside-border-color;
    background-color: $white;
    margin: 5px;
    padding: 10px;
    display: inline-table;
  }
  .empty-container-with-out-border {
    margin: 5px;
    display: inline-table;
  }
  
  .empty-inner-container-with-out-border {
    /* display: inline-table; */
    display: grid;
  }
  .empty-inner-container-with-border {
    border: solid 1px $aside-border-color;
    background-color: $white;
    /* display: inline-table; */
  
    border-radius: 2.5px;
    overflow: hidden;
  }
  
  /*common class*/
  
  .set-overlay {
    position: relative;
    display: inline-flex;
  }
  
  .tag {
    border-radius: 15px;
    background-color: #e9ecfa;
    color: #2c39ec;
    font-size: 12px;
  }
  .tag-with-out-background {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #000;
    font-size: 12px;
    padding: 0;
  }
  
  .horizontal-line-top:before {
    content: "";
    display: block;
    width: 94%;
    height: 1px;
    top: 0;
    left: calc(100% - 610px);
    position: absolute;
    border-top: 1px solid #e9ecfa;
  }
  
  .horizontal-line-fit-top:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    border-top: 1px solid #e9ecfa;
  }
  
  .horizontal-line-fit-top-card:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    top: -10px;
    left: 0;
    position: relative;
    border-top: 1px solid #e9ecfa;
  }
  
  .horizontal-line-bottom:before {
    display: block;
    width: 94%;
    height: 1px;
    top: 0;
    left: calc(100% - 610px);
    position: absolute;
    border-bottom: 1px solid #e9ecfa;
  }
  
  .horizontal-line-fit-bottom:before {
    display: block;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    position: absolute;
    border-bottom: 1px solid #e9ecfa;
  }
  
  .vertical-line:after {
    content: "";
    display: block;
    width: 1px;
    height: 170px;
    top: calc(50% - 80px);
    position: absolute;
    border-right: 1px solid #e9ecfa;
  }
  
  .theme-btn {
    border-radius: 3px;
    background-color: #000a4b;
    padding: 4px 20px;
    color: #fff !important;
    font-size: 12px;
    border: 0;
  
    &:focus,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }
  
    &:active,
    &:hover {
      background-color: #000213 !important;
      border-color: #000213;
    }
  }
  
  .remove-border {
    border: none !important;
    .list-group-item {
      border: none !important;
    }
  }
  
  .hint-text {
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: #a1a5c5;
    margin-top: 10px;
  }
  
  .media-subheading {
    font-size: 11px;
    margin: 0;
    color: #636363;
    font-family: 'ProximaNova-Regular';
  }
  
  .media-heading {
    font-size: 14px;
    color: #42434b;
    font-weight: bold;
    margin: 0;
  
    & + .media-subheading {
      font-size: 12px;
      & + .media-subheading {
        font-size: 12px;
        color: #003787;
      }
    }
  }
  
  .header-drak {
    color: #42434b;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
  }
  
  .header-grey {
    color: #8f8f8f;
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;
  }
  
  .center-column {
    .header-drak {
      color: #42434b;
      font-family: 'ProximaNova-Semibold';
      font-size: 16px;
  
      .badge {
        color: #003787 !important;
      }
    }
  
    .header-grey {
      color: #8f8f8f;
      font-family: 'ProximaNova-Semibold';
      font-size: 16px;
    }
  }
  
  .post-image-modal {
    .modal-dialog {
      position: relative;
      display: table;
      overflow-y: auto;
      overflow-x: auto;
      width: auto;
      min-width: 300px;
    }
  
    .modal-content {
      background: none;
      border: 0;
    }
  }
  
  .dropdown {
    button {
      background: none;
      border: none;
      box-shadow: none;
    }
    .dropdown-menu {
      min-width: 0;
      border: none;
      box-shadow: 1px 2px 20px 8px rgba(0, 0, 0, 0.07058823529411765);
  
      &.hasUpArrow {
        &::before {
          content: "";
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          /* border-right: 7px solid transparent; */
          border-bottom: 15px solid white;
          position: absolute;
          top: -15px;
          right: 20px;
        }
      }
  
      a {
        &:active,
        &:hover {
          background-color: #ffffff;
        }
  
        span {
          margin-left: 10px !important;
          font-family: 'ProximaNova-Semibold';
          font-size: 12px !important;
        }
      }
      .dropdown-item {
        span {
          font-size: 11px;
        }
      }
    }
  }
  
  .dropdownModal {
    padding-right: 15px;
  
    .modal-content {
      width: 341px;
      height: 140px;
      margin: 0 auto;
  
      .modal-header {
        padding: 10px 10px;
        border: 0;
        color: #003787;
  
        img {
          width: 26px;
          height: 26px;
        }
  
        h5 {
          font-family: 'ProximaNova-Semibold';
          font-size: 12px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
  
      .modal-body {
        padding: 5px 15px;
        border: 0;
  
        p {
          font-family: 'ProximaNova-Semibold';
          font-size: 12px;
          font-weight: 600;
          padding: 0;
          margin: 0;
        }
      }
  
      .modal-footer {
        border: 0;
  
        /* button {
            &:first-child {
              width: 72px;
              height: 31px;
              border-radius: 3px;
              border: solid 1px #e9ecfa;
              font-family: 'ProximaNova-Regular';
              font-size: 12px;
              font-weight: normal;
              background: white;
              color: #003787;
            }
    
            &:last-child {
              width: 52px;
              height: 31px;
              font-family: 'ProximaNova-Regular';
              font-size: 12px;
              font-weight: normal;
              border-radius: 3px;
              background-color: #010947;
            }
          } */
      }
    }
  }
  .seemore {
    border-radius: 0;
    background: #ffffff;
    box-shadow: none;
    line-height: 12px;
    border: none;
    font-size: 12px;
    height: 32px;
    color: #42434b;
    font-weight: bold;
  }
  
  .list-group {
    margin-bottom: 10px;
    .list-group-item {
      padding: 10px;
      border-left: none;
      border-right: none;
      border-radius: 0;
  
      border: none;
      border-top: 1px solid #f8f8f8;
  
      &:first-child {
        border-top: none;
      }
      &::last-child {
        border-bottom: none;
      }
  
      .badge {
        color: #9f9f9f;
        font-family: 'ProximaNova-Regular';
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
      }
  
      .square {
        border-radius: 0;
        border-radius: 5px;
      }
  
      .circle {
        border-radius: 50%;
      }
  
      .media-left {
        .media-heading {
          font-family: 'ProximaNova-Semibold';
          font-size: 14px;
          margin: 0;
          line-height: 16px;
        }
  
        img.square {
          width: 42px;
          border-radius: 5px;
        }
      }
  
      .media-body {
        margin-left: 10px;
  
        .media-heading {
          font-family: 'ProximaNova-Semibold';
          font-size: 14px;
          margin: 0;
  
          & + span.sequence-image {
            float: left;
            position: relative;
            width: 60px;
            display: flex;
  
            img {
              width: 23px;
              position: relative;
              border: 1px solid white;
              border-radius: 50%;
  
              &:nth-child(1) {
                left: 0px;
              }
              &:nth-child(2) {
                left: -10px;
              }
              &:nth-child(3) {
                left: -20px;
              }
            }
          }
        }
  
        .media-subheading {
          span {
            display: flex;
            margin-top: -3px;
          }
        }
      }
  
      .media-right {
        height: 45px;
  
        .align-middle {
          line-height: 45px;
          font-size: 12px;
          color: #42434b;
        }
  
        &.ml-auto {
          height: 0px;
          margin-top: 2px;
          .media-subheading {
            float: left;
            margin-right: 5px;
          }
        }
      }
    }
  
    .card-body {
      button {
        width: 50px;
        height: 20px;
        border-color: #e9ecfa;
        font-size: 10px;
        line-height: 8px;
        color: #2c39ec;
        font-weight: bold;
  
        &:hover {
          color: #fff !important;
          background-color: #2c39ec;
          border-color: #ffffff;
        }
      }
    }
  }
  
  .form-check {
    label {
      font-family: 'ProximaNova-Regular';
      font-size: 12px;
    }
  
    .form-check-input:checked ~ .form-check-label::after {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }
  
    .form-check-label {
      &::after,
      &::before {
        position: absolute;
        top: 0.25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
      }
      &::after {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
  
      &::before {
        user-select: none;
        background-color: #ffffff;
        border: 1px solid #f8f8f8;
      }
    }
  
    .form-check-input {
      &:checked ~ .form-check-label::before {
        background-color: #3c49f1 !important;
      }
  
      &:checked:focus ~ .form-check-label::before {
        box-shadow: none;
      }
  
      &:focus ~ .form-check-label::before {
        box-shadow: none;
      }
      &:active ~ .form-check-label::before {
        background-color: #c8ffc8;
      }
    }
  }
  
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #a1a5c5;
    font-size: 12px;
    font-family: 'ProximaNova-Semibold';
    margin: 20px 0;
  
    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 2px dashed #f8f8f8;
    }
    &::before {
      margin-right: 0.25em;
    }
    &::after {
      margin-left: 0.25em;
    }
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    height: 40px;
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    color: #7a8da4;
  }
  
  input[type="file"] {
    visibility: hidden;
    position: absolute;
    & + div {
      input {
        background-color: #fff !important;
        border: 1px solid #f8f8f8;
      }
  
      button {
        position: absolute;
        right: 1px;
        top: 1px;
        background: #fff;
        padding: 7px;
        border: 0;
        img {
          width: 16px;
        }
      }
    }
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    box-shadow: 1.5px 1.5px 1px 2px #e9ecfa !important;
    & + label {
      font-family: 'ProximaNova-Regular' !important;
      margin-left: 10px;
    }
  }
  .simple-tags {
    border: 1px solid #e9ecfa;
    box-sizing: border-box;
    margin: 0;
    padding: 0em 0.5em;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    border-radius: 5px;
  
    ul {
      padding: 5px;
      li {
        margin: 0.5em 0.2em;
        padding: 5px 0px 5px 20px;
        border-radius: 14px;
        background-color: #ccd4ff;
        color: #3c49f1;
        height: 29px;
        line-height: 21px;
        font-size: 9px;
        font-family: 'ProximaNova-Semibold';
        a {
          margin: 3px 7px 0 10px;
          text-decoration: none;
          color: inherit;
          font-size: 19px;
          line-height: 16px;
          float: right;
          cursor: pointer;
        }
      }
    }
  }
  
  .edit-pencil {
    svg {
      fill: #b8bcd5;
    }
  }
  
  button.button-with-fill {
    width: 116px;
    height: 45px;
  
    border-radius: 3px;
    background-color: #3c49f1;
    font-family: 'ProximaNova-Semibold';
    font-size: 12px;
    color: #fff;
    margin-right: 10px;
  
    span {
      font: inherit;
      &:first-child {
        margin-right: 10px;
      }
    }
  
    &:hover {
      color: #fff;
    }
  
    img {
      display: inline-block;
      margin-top: -4px;
      margin-left: 10px;
    }
  
    svg {
      fill: none;
      stroke: #fff;
    }
  }
  
  button.button-with-border {
    width: 116px;
    height: 45px;
    border-radius: 3px;
    border: solid 1px #003787;
    color: #003787;
    font-family: 'ProximaNova-Semibold';
    font-size: 12px;
    background-color: #fff;
  
    span {
      font: inherit;
      &:first-child {
        margin-right: 10px;
      }
    }
  
    &:hover {
      color: #003787;
    }
  
    img {
      display: inline-block;
      margin-top: -4px;
      margin-left: 10px;
    }
  
    svg {
      fill: none;
      stroke: #003787;
    }
  }
  
  .bootstrap-select {
    button {
      color: #a1a5c5;
      font-size: 12px;
      height: 40px;
    }
    .dropdown-toggle {
      border-radius: 3px;
      border: 1px solid #e9ecfa;
    }
    .dropdown-menu {
      width: 100%;
      box-shadow: -1px 5px 20px 0px rgba(0, 0, 0, 0.23);
      border: 0;
  
      li {
        position: relative;
        border-bottom: 1px solid #f8f8f8;
        text-align: left;
  
        &:last-child {
          border: none;
        }
  
        a span.text {
          display: inline-block;
          font-size: 14px;
          font-family: 'ProximaNova-Regular';
          color: #42434b;
  
          small {
            display: block;
            color: #a0a4c4 !important;
            padding: 0;
          }
        }
      }
    }
  }
  
  .breadcrumb {
    padding: 0;
  
    background-color: #ffffff;
  
    font-size: 14px;
    font-family: 'ProximaNova-Semibold';
    color: #3c49f1;
  
    li {
      &.active {
        color: #3c49f1;
      }
  
      &::before {
        color: #6c757d;
        content: ">" !important;
      }
  
      &:first-child {
        &::before {
          color: #6c757d;
          content: " " !important;
        }
      }
    }
  
    a {
      font-size: 14px;
      font-family: 'ProximaNova-Semibold';
      color: #3c49f1;
    }
  }
  
  .rating {
    span {
    }
    p {
      display: inline-block;
      padding: 0;
      margin: 0;
      color: #111026;
      font-family: 'ProximaNova-Regular';
      margin-left: 10px;
      font-size: 12px;
    }
  
    .checked {
      color: #3c49f1;
    }
  }
  
  .pagination {
    .page-item {
      width: 38px;
      height: 39px;
  
      .page-link {
        padding: 0.5rem 0.75rem;
        line-height: 1.25;
        font-size: 1rem;
      }
    }
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(161, 161, 161);
  }
  
  /* Profile circle*/
  
  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
  }
  
  @mixin rotate($rotation) {
    -webkit-transform: rotate($rotation);
    -moz-transform: rotate($rotation);
    -ms-transform: rotate($rotation);
    -o-transform: rotate($rotation);
    transform: rotate($rotation);
  }
  
  @mixin box-sizing($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
  }
  @mixin transition-property($transition) {
    -webkit-transition-property: $transition;
    -moz-transition-property: $transition;
    -o-transition-property: $transition;
    transition-property: $transition;
  }
  
  @mixin transition-duration($duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
  }
  
  @mixin transition-timing-function($timing) {
    -webkit-transition-timing-function: $timing;
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    transition-timing-function: $timing;
  }
  
  // classes 2 extend
  .rect-auto {
    clip: rect(auto, auto, auto, auto);
  }
  
  .pie {
    position: absolute;
    border: $profile-circle-width solid $profile-primary-color;
    width: 1 - (2 * $profile-circle-width) + 0.01;
    height: 1 - (2 * $profile-circle-width)+ 0.01;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    @include rotate(0deg);
  }
  
  .pie-fill {
    @include rotate(180deg);
  }
  
  // main
  .c100 {
    *,
    *:before,
    *:after {
      @include box-sizing(content-box);
    }
    position: relative;
    font-size: 108px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: $profile-secondary-color;
    left: calc(50% - 54px);
    /* top: 24px; */
    // center circle to its parent
    &.center {
      float: none;
      margin: 0 auto;
    }
    // bigger size
    &.big {
      font-size: 240px;
    }
    // smaller size
    &.small {
      font-size: 80px;
    }
    // centered value inside circle
    > span {
      position: absolute;
      z-index: 1;
      left: 8px;
      top: 8px;
      width: 4.3em;
      height: 4.3em;
      font-size: 0.2em;
      color: $profile-secondary-color;
      display: block;
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-out);
  
      img {
        width: 100%;
      }
    }
    // background inside the circle
    &:after {
      position: absolute;
      top: $profile-circle-width;
      left: $profile-circle-width;
      display: block;
      content: " ";
      border-radius: 50%;
      background-color: $profile-bg-color;
      width: 1 - (2 * $profile-circle-width);
      height: 1 - (2 * $profile-circle-width);
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease-in);
    }
    // the slice (mask)
    .slice {
      position: absolute;
      width: 1em;
      height: 1em;
      clip: rect(0em, 1em, 1em, 0.5em);
    }
    // circle to show the status
    .bar {
      @extend .pie;
    }
    // loop to create all needed elements automatically
    @for $i from 51 through 100 {
      &.p#{$i} {
        & .slice {
          @extend .rect-auto;
        }
        &.bar:after {
          @extend .pie-fill;
        }
        & .fill {
          @extend .pie;
          @extend .pie-fill;
        }
      }
    }
    // loop to rotate all 100 circles
    @for $i from 1 through 100 {
      &.p#{$i} .bar {
        $degs: (360/100 * $i);
        @include rotate(#{$degs}deg);
      }
    }
    // hover styles
    &:hover {
      cursor: default;
      > span {
        height: 3.2em;
        width: 3.2em;
        left: 2px;
        top: 2px;
        font-size: 0.3em;
        color: $profile-primary-color;
      }
      &:after {
        top: $profile-circle-width-hover;
        left: $profile-circle-width-hover;
        width: 1 - (2 * $profile-circle-width-hover);
        height: 1 - (2 * $profile-circle-width-hover);
      }
    }
  }
  
  /*end Profile circle*/
  

  /* color themes*/
$brand-color: #010947;
$white: #fff;
$border-color: #ccd4ff;
$aside-border-color: #e9ecfa;

$profile-circle-width: 0.08em;
$profile-circle-width-hover: 0.04em;
// colors default
$profile-primary-color: #f8f8f8;
$profile-secondary-color: #3c49f1;
$profile-bg-color: #f5f5f5;

/* body */

.list-group-item {
  border: none;
  border-top: 1px solid #f8f8f8;

  &:first-child {
    border-top: none;
  }
}

.my-wall-container {
  margin-top: 10px;

  .left-column {
    max-width: 230px;

    .profile-title {
      margin: 0;
    }

    .profile-subtitle {
      color: #a1a5c5;
      font-size: 14px;
      margin: 0;
    }

    .dropdown {
      float: left;
      margin-left: 5px;

      .btn {
        background: #3c49f1;
        box-shadow: none;
        line-height: 12px;
        border: none;
        font-size: 12px;
        height: 32px;
        width: 95px;
      }
    }

    .follow-btn {
      background: #3c49f1;
      box-shadow: none;
      line-height: 12px;
      border: none;
      font-size: 12px;
      height: 32px;
      width: 95px;
      margin: 0;
    }

    .following-btn {
      background: #0dc800;
      color: #fff;
      box-shadow: none;
      line-height: 12px;
      border: none;
      font-size: 12px;
      height: 32px;
      width: 95px;
      margin: 0;
    }

    .mail-btn {
      float: left;
      margin-left: 5px;
      background: #ffffff;
      box-shadow: none;
      border-color: #3c49f1;
      font-size: 12px;
      height: 32px;
      width: 52px;
      line-height: 12px;
    }

    .bitcoin-btn {
      float: left;
      margin-left: 5px;
      background: #ffffff;
      box-shadow: none;
      border-color: #3c49f1;
      font-size: 12px;
      height: 32px;
      width: 43px;
      line-height: 12px;
    }

    .aboutme {
      p {
        &:first-child {
          font-family: 'ProximaNova-Semibold';
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          text-align: left;
          color: #a1a5c5;
        }
        &:last-child {
          font-family: 'ProximaNova-Regular';
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: left;
          color: #5a5a5a;
          line-height: 16px;
          margin: 0;
        }
      }
    }

    .activities {
      p {
        &:first-child {
          font-family: 'ProximaNova-Semibold';
          font-size: 14px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          text-align: left;
          color: #a1a5c5;
        }
      }
      .content-heading {
        line-height: 36px;
        font-size: 14px;
        font-family: 'ProximaNova-Semibold';
        color: #42434b;

        &:hover,
        &.active {
          .overlay {
            background-color: #003787;
            svg {
              fill: #e9ecfa;
            }
          }
        }

        .overlay {
          padding: 10px;
          /* height: 40px; */
          /* width: 40px; */
          border-radius: 50%;
          background-color: #e9ecfa;
          margin-right: 10px;
          display: flex;

          svg {
            fill: #003787;
          }

          & + p {
            /* position: relative; */

            .badge {
              border: 1px solid;
              display: none;
              border-radius: 50%;
              /* position: absolute; */
              /* top: 0; */
              margin-left: 5px;
              width: 8px;
              height: 8px;
              font-size: 5px;
              background-color: #f94162;
              color: #fff;
              border-color: transparent;

              &.notify {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  .center-column {
    max-width: 630px;

    span {
      font-size: 11px;
      &.m-1 {
        font-size: 11px;
        color: #42434b;

        & + span {
          font-size: 11px;
          color: #42434b;
        }
      }
    }

    .create-post {
      margin-bottom: 10px;

      .overlay {
        padding: 10px;
        /* height: 40px; */
        /* width: 40px; */
        border-radius: 50%;
        background-color: #e9ecfa;
        margin-right: 10px;
        display: flex;
      }

      textarea {
        width: 92%;
      }
    }

    .post {
      margin-bottom: 10px;
      .list-group-item {
        border: none;

        &:last-child {
          /*  border-top: 1px solid #e9ecfa; */
        }
      }

      .post-content-area {
        .row {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        span {
          font-size: 14px;
          a {
            font-size: 14px;
            color: #003787;
          }

          &:hover {
            .overlay {
              display: block;
            }
          }

          .overlay {
            text-align: center;
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
            background: rgba(0, 0, 0, 0.5);
            top: 0;

            .text {
              top: 35%;
              position: absolute;
              left: 32%;
              color: #fff;
              font-size: 14px;
            }

            button {
              top: 50%;
              position: absolute;
              left: 40%;
              color: #003787;
              font-size: 14px;
              height: 40px;
              width: 121px;
              font-weight: bold;
            }

            img {
              position: absolute;
              top: 22px;
              left: 32px;
            }
          }
        }
      }

      .pic {
        width: 50px;
        border-radius: 15px;
      }
    }

    .highlight {
      margin-bottom: 10px;
      .media-heading {
        padding-bottom: 5px;
        font-size: 12px;
      }
      .media-subheading {
        padding-bottom: 5px;
        font-size: 10px;
      }

      .tag {
        font-size: 10px;
      }

      .bundle {
        img.card-img-top {
          width: 100%;
          height: 100%;
        }

        .media-container {
          width: 84.5px;
          height: 64.7px;
          border-radius: 6px;
          margin: 5px;
          overflow: hidden;
          position: relative;
          display: inline-flex;

          /* &:hover {
          
              .overlay {
                display: block;
              }
           
            
          } */

          .overlay {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 9;
            background: rgba(0, 0, 0, 0.5);
            top: 0;

            img {
              position: absolute;
              top: 22px;
              left: 32px;
            }
          }
        }

        .dropdown {
          button {
            padding: 0 0px 0 5px;
            display: flex;
          }
        }

        .media-heading {
          font-size: 10px;
        }

        .remove-border {
          span {
            font-size: 9px;
          }
        }
      }

      .stick-bottom {
        bottom: 0;
        position: absolute;
        padding: 10px 15px 10px 0px;
        width: 100%;
      }
    }

    .myfriends,
    .communities {
      .media {
        .media-left {
          img {
            &.circle {
              width: 65px;
              height: 65px;
              border-radius: 50%;
            }
            &.square {
              width: 74px;
              height: 74px;
              border-radius: 2px;
            }
          }
        }

        .media-body {
          .media-heading {
            font-family: 'ProximaNova-Regular';
            font-weight: normal;
            font-size: 16px;
          }

          .media-heading-bold {
            font-family: 'ProximaNova-Semibold';
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 0px;
            margin-top: 5px;
          }

          .media-subheading {
            color: #a4a4a4;
            font-family: 'ProximaNova-Regular';
            font-size: 12px;
            font-weight: normal;

            &:last-child {
              color: #003787;
              font-family: 'ProximaNova-Regular';
              font-size: 10px;
              font-weight: normal;
            }
          }

          .media-subheading-bold {
            float: left;
            margin-bottom: 0;
            margin-top: 10px;
            line-height: 15px;
            span {
              width: 100%;
              float: left;
            }
          }

          .sequence-image {
            float: left;
            margin-top: 5px;
            img {
              width: 32px;
              height: 32px;
              position: relative;
              border: 2px solid white;
              border-radius: 50%;

              &:nth-child(1) {
                left: 0;
              }
              &:nth-child(2) {
                left: -10px;
              }
              &:nth-child(3) {
                left: -20px;
              }
            }
          }
        }

        .media-right {
          height: unset;
          .button-with-fill,
          .button-with-border {
            height: 32px;
            margin: 0;
            width: 93px;
            min-width: unset;
          }
        }
      }
    }
  }

  .right-column {
    max-width: 238.6px;

    .seemore {
      border-radius: 0;
      background: #ffffff;
      box-shadow: none;
      line-height: 12px;
      border: none;
      font-size: 12px;
      height: 32px;
      color: #42434b;
      font-weight: bold;
    }

    .myfriends,
    .communities,
    .trending,
    .recomended {
      margin-bottom: 10px;
      .list-group-item {
        padding: 10px;
        border-left: none;
        border-right: none;
        border-radius: 0;

        &:first-child {
          border-top: none;
        }
        &::last-child {
          border-bottom: none;
        }

        .badge {
          color: #9f9f9f;
          font-family: 'ProximaNova-Regular';
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
        }

        .square {
          border-radius: 5px;
        }

        .circle {
          border-radius: 50%;
        }

        .media-left {
          .media-heading {
            font-family: 'ProximaNova-Semibold';
            font-size: 14px;
            margin: 0;
            line-height: 16px;
          }

          img.square {
            width: 42px;
            border-radius: 5px;
          }
        }

        .media-body {
          margin-left: 10px;

          .media-heading {
            font-family: 'ProximaNova-Semibold';
            font-size: 14px;
            margin: 0;

            & + span.sequence-image {
              float: left;
              position: relative;
              width: 60px;
              display: flex;

              img {
                width: 23px;
                position: relative;
                border: 1px solid white;
                border-radius: 50%;

                &:nth-child(1) {
                  left: 0px;
                }
                &:nth-child(2) {
                  left: -10px;
                }
                &:nth-child(3) {
                  left: -20px;
                }
              }
            }
          }

          .media-subheading {
            span {
              display: flex;
              margin-top: -3px;
            }
          }
        }

        .media-right {
          height: 45px;

          .align-middle {
            line-height: 45px;
            font-size: 12px;
            color: #42434b;
          }

          &.ml-auto {
            height: 0px;
            margin-top: 2px;
            .media-subheading {
              float: left;
              margin-right: 5px;
            }
          }

          .progress {
            border-radius: 0;
            height: 14px;
            width: 58px;
            background-color: #c4c7db;
            direction: rtl;
            &.blue {
              .progress-bar {
                background-color: #2c39ec;
              }
            }

            &.red {
              .progress-bar {
                background-color: #ec2c4f;
              }
            }
          }
        }
      }

      .card-body {
        button {
          width: 50px;
          height: 20px;
          border-color: #e9ecfa;
          font-size: 10px;
          line-height: 8px;
          color: #2c39ec;
          font-weight: bold;

          &:hover {
            color: #fff !important;
            background-color: #2c39ec;
            border-color: #ffffff;
          }
        }
      }
    }
  }
}

.social-wall-create-popup {
  background: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: scroll;
  outline: 0;
  display: block;
  padding-right: 15px;

  .create-popup-container {
  }

  ul.create-popup--create {
    position: absolute;
    top: 140px;
    margin: 0 auto;
    width: 661.7px;
    height: 161.2px;
    transform: translate(0, -50px);
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;

    .overlay {
      padding: 10px;
      /* height: 40px; */
      /* width: 40px; */
      border-radius: 50%;
      background-color: #e9ecfa;
      margin-right: 10px;
      display: flex;
    }
    textarea {
      width: 92%;
    }
  }

  .create-popup--tag-connection,
  .create-popup--visibility {
    top: 180px;
    margin: 0 auto;
    width: 341px;
    height: 161.2px;
    transform: translate(0, -50px);
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 100px;

    .modal-header {
      padding: 10px 10px 0px 15px;
      border: none;
    }

    .modal-title {
      font-size: 12px;
      color: #003787;
      font-family: 'ProximaNova-Semibold';
    }

    label {
      font-family: 'ProximaNova-Regular';
      font-size: 12px;
      font-weight: normal;

      color: #42434b;
    }
    select {
      border: solid 1px #3c49f1;
      border-radius: 0;
      margin-bottom: 10px;
    }

    input {
      border: solid 1px #3c49f1;
      font-family: 'ProximaNova-Semibold';
      font-size: 12px;
      color: #000c6d;
    }

    .media-body {
      .media-heading {
      }

      .media-subheading {
      }
    }

    .media-right {
      .istag {
        font-size: 12px;
        color: #003787;
      }

      .untag {
        font-size: 12px;
        color: #b70000;
      }
    }

    .list-group-item {
      border: none;
      margin-top: 5px;
    }

    .modal-footer {
      p {
        font-family: 'ProximaNova-Regular';
        font-size: 12px;
        color: #000c6d;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.social-wall-message-popup {
  background: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: scroll;
  outline: 0;
  display: block;
  padding-right: 15px;

  .message-popup--content {
    top: 180px;
    margin: 0 auto;
    width: 341px;
    height: 221px;
    transform: translate(0, -50px);
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 100px;

    .modal-header {
      padding: 10px 10px 0px 15px;
      border: none;
    }

    .modal-body {
      padding: 0 15px !important;
      border: 0 !important;
    }

    .modal-footer {
      border: 0 !important;
      p {
        font-family: 'ProximaNova-Regular';
        font-size: 12px;
        color: #000c6d;
        padding: 0;
        margin: 0;
      }
    }
    .modal-title {
      font-size: 12px;
      color: #003787;
      font-family: 'ProximaNova-Semibold';
    }

    label {
      font-family: 'ProximaNova-Regular';
      font-size: 12px;
      font-weight: normal;

      color: #42434b;
    }

    input {
      border: solid 1px #ebebeb;
      font-family: 'ProximaNova-Semibold';
      font-size: 12px;
      color: #000c6d;
    }
    textarea {
      width: 100%;
      padding: 10px;
      border: solid 1px #ebebeb;
    }

    .media-body {
      .media-heading {
      }

      .media-subheading {
      }
    }

    .list-group-item {
      border: none;
      margin-top: 5px;
    }
  }
}
.social-wall-share-popup {
  background: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: scroll;
  outline: 0;
  display: block;
  padding-right: 15px;

  .share-popup--content {
    top: 180px;
    margin: 0 auto;
    width: 341px;
    height: 221px;
    transform: translate(0, -50px);
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 100px;

    .modal-header {
      padding: 10px 10px 0px 15px;
      border: none;
    }

    .modal-body {
      padding: 0 15px !important;
      border: 0 !important;
    }

    .modal-footer {
      border: 0 !important;
      p {
        font-family: 'ProximaNova-Regular';
        font-size: 12px;
        color: #000c6d;
        padding: 0;
        margin: 0;
      }
    }
    .modal-title {
      font-size: 12px;
      color: #003787;
      font-family: 'ProximaNova-Semibold';
    }

    label {
      font-family: 'ProximaNova-Regular';
      font-size: 12px;
      font-weight: normal;

      color: #42434b;
    }

    input {
      border: solid 1px #ebebeb;
      font-family: 'ProximaNova-Semibold';
      font-size: 12px;
      color: #000c6d;
    }
    textarea {
      width: 100%;
      padding: 10px;
      border: solid 1px #ebebeb;
    }

    .media-body {
      .media-heading {
      }

      .media-subheading {
      }
    }

    .list-group-item {
      border: none;
      margin-top: 5px;
    }
  }
}

.social-wall-stories-popup {
  background: rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: scroll;
  outline: 0;
  display: block;
  padding-right: 15px;

  .stories-popup--content {
    top: 180px;
    margin: 0 auto;
    width: 655px;
    height: 576px;
    transform: translate(0, -50px);
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 100px;

    .modal-body {
      padding: 0 25px !important;
      border: 0 !important;
      width: 655px;
  
    }

    .carousel-container {
      /*  display: inline-block; */
      max-width: 655px;
      overflow-x: scroll;
      padding: 10px 0;
      ul {
        /* overflow-x: scroll; */
        padding: 0;
        /* width: 210%; */
        display: inline-flex;
        margin: 0;
        li {
          float: left;
          list-style: none;
          margin: 5px;
          border: solid 3px #7da4ff;
          border-radius: 50%;
          width: 56px;
          height: 56px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .modal-footer {
      border: 0;
      width: 655px; 
      padding: 0 25px !important;

      li{
        font-size: 12px;
    margin-right: 10px;
    margin-top: 13px;
      }
    }
  }
}


.send-money{



  .send-money--content{

    background-clip: unset;
    border: 0;
    border-radius: 0;
    outline: 0;


    .modal-title{
      font-family: 'ProximaNova-Semibold';
      font-size: 16px;
    }

    .modal-body{
      input{
        height: 36px;
        font-size: 12px;
        color: #42434b;
      }
      label{
        font-family: 'ProximaNova-Regular';
        font-size: 14px;
        color: #a1a5c5;
      }

      .currency-converter-container{
        label{
          margin-bottom: 0;
        }
        .currency-converter{
          font-family: 'ProximaNova-Regular';
          color: #000949;
          font-size: 30px;
          margin-bottom: 10px;
  
          sup {
            font-size: 12px;
            position: relative;
            top: -12px;
        }
        }
      }
      

      .convertion-rate{
        font-family: 'ProximaNova-Regular';
        color: #000949;
        font-size: 14px;
      }
      select{
        min-width: 130px;

        max-width: 160px;
        height: 36px;
        color: #42434b;
        font-family: 'ProximaNova-Bold';
        font-size: 12px;
      }
    }
  }
}
.follow-btn + .dropdown-menu {
  a {
    color: #003787;
    padding: 0px 10px;
  }
}

.pointer{
  cursor: pointer;
}

/* Post page design */
.tagedPeople{
  ul{
    display: flex;
    flex-flow:row wrap;
    padding-left: 10px;
    justify-content:flex-start;
    li{
      display: block;
      padding: 2px 8px;
      background: #e9ecfa;
      color: #3c49f1;
      border-radius: 27px;
      margin-right: 10px;
      font-size: 12px;
      cursor: pointer;
    }
  }

}
.react-tags__search-input{
  padding: 0 10px;
  width: 200px;
  height: 30px;
}
.customWidth72{
  flex: 0 0 72%;
  max-width: 72%;
}
.react-tags__suggestions{
  ul{
    padding: 4px;   
    padding-left:10px;
    li{
      display: block;
      cursor: pointer;
      mark{
        font-weight: bold;
        font-size: 13px;
        background-color: #e9ecfa;
        color: #3c49f1;
      }
    }
  }
}
.displayPostImg{
  max-width: 70px;
}


/* color themes*/
$brand-color: #010947;
$white: #fff;
$border-color: #ccd4ff;
$aside-border-color: #e9ecfa;

$profile-circle-width: 0.08em;
$profile-circle-width-hover: 0.04em;
// colors default
$profile-primary-color: #f8f8f8;
$profile-secondary-color: #3c49f1;
$profile-bg-color: #f5f5f5;

/* header */
.navbar--header-top {
  background: $white !important;
  height: 69.8px;
  border-bottom: 1.1px solid $border-color !important;

  .navbar-brand {
    img {
      width: 136px;
      height: 22px;
    }
  }

  .navbar--search {
    width: 258px;
    height: 36.1px;
    border: solid 1px $border-color;
    margin-left: 30px;

    input {
      border: none;
      height: 99%;
      box-shadow: none;
    }

    button {
      background: transparent;
      color: #a1a5c5;
      border-left: none;
      border: none;
      font-size: 100%;
      box-shadow: none;
    }
  }

  .navbar-nav {
    .nav-item {
      display: table;
      height: 50px;
      position: relative;

      .nav-link {
        position: relative;
        /* padding: 5px 0 !important; */
        /* margin: 10px; */
        /* height: 31px; */
        vertical-align: middle;
        display: table-cell;
        padding: 0px 14px;

        .badge {
          position: absolute;
          top: 12px;
          right: 6px;
          border: 1px solid;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          font-size: 9px;
          background-color: #f94162;
          color: $white;
          border-color: transparent;
        }

        &.status {
          .badge {
            right: 10px;
            width: 10px;
            width: 10px;
            height: 10px;

            border-color: white;
            display: none;

            &.online {
              background-color: #3c49f1;
              display: inline-block;
            }

            &.away {
              display: inline-block;
              background-color: #f8d536;
            }

            &.offline {
              display: inline-block;
              background-color: #74726a;
            }
          }
        }

        &.navbar-button {
          font-family: ProximaNova-Semibold;
          background: $brand-color;
          color: $white;
          padding: 12px 40px !important;
          line-height: 12px;
          border-radius: 5px;
          font-size: 14px;
          display: inline-flex;
          margin: 7px;
        }
      }

      &:hover {
        .menu-hover-container {
          /*  display: block; */
          visibility: visible;
          opacity: 1;
        }
      }

      .menu-hover-container {
        position: absolute;
        z-index: 999999;
        background: white;
        padding: 0 10px;
        box-shadow: 1px 2px 20px 8px rgba(234, 234, 234, 0.6588235294117647);
        /* display: none; */
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;

        &::before {
          content: "";
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 15px solid white;
          position: absolute;
          top: -15px;
        }

        &.menu-mail {
          width: 213px;
          top: 60px;
          left: -85px;

          &::before {
            left: 100px;
          }

          .nav-link{
            padding: 0 5px 0 0px;
          }
          .badge{
            display: none;
            right: 2px;
            top: 2px;
          }
          .media-right {
            height: auto;

            .media-heading {
              font-size: 9px;
              font-family: ProximaNova-Regular;
              font-weight: normal;
            }
          }

          .media-body{
            p{
              width: 92%;
            }
          }
          .row {
            margin: 0 -25px;

            .heading {
              font-family: ProximaNova-Semibold;
              font-size: 10px;
              font-weight: 600;
              margin: 10px;
            }
          }

          li {
            padding: 10px;

            cursor: pointer;

            img {
              width: 30px;
              height: 30px;
            }

            .media-heading {
              font-size: 10px;
              font-family: ProximaNova-Regular;
              font-weight: normal;

              b {
                font-size: 12px;
                font-family: ProximaNova-Semibold;
                font-weight: 600;
                width: 100%;
                display: inline-block;
              }
            }

            &.active {
              background-color: #e9ecfa;
            }

            &:hover {
              background-color: #f8f8f8;
            }
          }
        }
        &.menu-notification {
          width: 213px;
          top: 60px;
          left: -85px;

          &::before {
            left: 100px;
          }

          .row {
            margin: 0 -25px;

            .heading {
              font-family: ProximaNova-Semibold;
              font-size: 10px;
              font-weight: 600;
              margin: 10px;
            }
          }

          li {
            padding: 10px;

            cursor: pointer;

            img {
              width: 30px;
              height: 30px;
            }

            .media-heading {
              font-size: 10px;
              font-family: ProximaNova-Regular;
              font-weight: normal;

              b {
                font-family: ProximaNova-Semibold;
                font-weight: 600;
              }
            }

            &.active {
              background-color: #e9ecfa;
            }

            &:hover {
              background-color: #f8f8f8;
            }
          }
        }

        &.menu-profile {
          width: 213px;
          top: 60px;
          right: 5px;
          padding: 10px;
          &::before {
            right: 18px;
          }

          li {
            &.list-group-item {
              border: none;
              padding: 5px;
            }
            svg {
              margin: -4px 0 0 0;
            }

            .media-body {
              margin-left: 15px;
            }

            .media-right {
              height: auto;

              .badge {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-family: ProximaNova-Regular;
                font-size: 8px;
                padding: 6px;

                &.badge-green {
                  background-color: #ccffe6;
                  color: #51be88;
                }

                &.badge-blue {
                  background-color: #ccd4ff;
                  color: #3c49f1;
                }
              }
            }

            .media-heading {
              font-family: ProximaNova-Semibold;
              font-size: 12px;
              font-weight: 600;
            }
          }

          .menu--profile-logout {
            svg {
              fill: #ff2174;
            }

            .media-heading {
              color: #ff2174;
            }
          }
        }
        &.menu-plus {
          width: 173px;
          top: 60px;
          right: 5px;
          padding: 10px;
          &::before {
            right: 18px;
          }

          li {
            &.list-group-item {
              border: none;
              padding: 5px;
            }
            svg {
              margin: -4px 0 0 0;
            }

            .media-body {
              margin-left: 15px;
            }

            .media-right {
              height: auto;

              .badge {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                font-family: ProximaNova-Regular;
                font-size: 8px;
                padding: 6px;

                &.badge-green {
                  background-color: #ccffe6;
                  color: #51be88;
                }

                &.badge-blue {
                  background-color: #ccd4ff;
                  color: #3c49f1;
                }
              }
            }

            .media-heading {
              font-family: ProximaNova-Semibold;
              font-size: 12px;
              font-weight: 600;
            }
          }

          .menu--profile-logout {
            svg {
              fill: #ff2174;
            }

            .media-heading {
              color: #ff2174;
            }
          }
        }
        &.active {
          /*  display: block; */
          visibility: visible;
          opacity: 1;
        }

        p,
        ul,
        li {
          margin: 0;
        }

        .seemore {
          padding: 20px;
          color: #3c49f1;
          font-size: 10px;
          height: unset;
        }
      }
    }
  }
}

.navbar--header-bottom {
  background: $white !important;
  height: 49.9px;

  .justify-content-between {
    /*  display:inline-block; */
    .nav-link {
      font-family: ProximaNova-Regular;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: normal;
      color: #42434b;

      display: block;
      padding: 10px 0;
      border-bottom: 3px solid transparent;
      transition: border 200ms ease-out;
      /*  padding: 0.5rem 1.35rem; */

      &:hover,
      &:active {
        border-bottom: 3px solid #3c49f1;
      }
    }

    &.active {
      .nav-link {
        border-bottom: 3px solid #3c49f1;
      }
    }

    &:hover {
      a {
        color: $brand-color;
      }
    }
    &:first-child {
      .nav-link {
        padding-left: 0;
      }
    }
    &:last-child {
      .nav-link {
        padding-right: 10px;
      }
    }
  }
}

/* end header */
