.ptb20 {
  padding: 20px 0; }

.ptb30 {
  padding: 30px 0; }

.ptb40 {
  padding: 40px 0; }

.ptb50 {
  padding: 50px 0; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.pt6 {
  padding-top: 6px; }

.text-center {
  text-align: center; }

.positionAbsolute {
  position: absolute; }
