.sharedPostContent {
  padding: 2px 30px; }

.tempCommentBtn {
  position: absolute;
  z-index: 1000;
  top: 5px;
  right: 22px; }

.tempcommentInput {
  padding-right: 120px; }

.taggedName {
  font-size: 13px !important;
  font-weight: bold;
  margin: 0px 4px;
  cursor: pointer; }
